In [3]:
import pandas as pd


data = [
    ["Ali", 20, 88],
    ["Faiqa", 22, 92],
    ["John", 19, 79]
]

df = pd.DataFrame(data, columns=["Name", "Age", "Marks"])
print(df)

    Name  Age  Marks
0    Ali   20     88
1  Faiqa   22     92
2   John   19     79

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("C:\\Users\\Gateway\\Desktop\\seattle-weather.csv")

In [8]:
df

            date  precipitation  temp_max  temp_min  wind  weather
0       1/1/2012            0.0      12.8       5.0   4.7  drizzle
1       1/2/2012           10.9      10.6       2.8   4.5     rain
2       1/3/2012            0.8      11.7       7.2   2.3     rain
3       1/4/2012           20.3      12.2       5.6   4.7     rain
4       1/5/2012            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  12/27/2015            8.6       4.4       1.7   2.9     rain
1457  12/28/2015            1.5       5.0       1.7   1.3     rain
1458  12/29/2015            0.0       7.2       0.6   2.6      fog
1459  12/30/2015            0.0       5.6      -1.0   3.4      sun
1460  12/31/2015            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [9]:
df.head(2)

       date  precipitation  temp_max  temp_min  wind  weather
0  1/1/2012            0.0      12.8       5.0   4.7  drizzle
1  1/2/2012           10.9      10.6       2.8   4.5     rain

In [10]:
df[1:5]

       date  precipitation  temp_max  temp_min  wind weather
1  1/2/2012           10.9      10.6       2.8   4.5    rain
2  1/3/2012            0.8      11.7       7.2   2.3    rain
3  1/4/2012           20.3      12.2       5.6   4.7    rain
4  1/5/2012            1.3       8.9       2.8   6.1    rain

In [11]:
df.sample(10)

            date  precipitation  temp_max  temp_min  wind  weather
222    8/10/2012            0.0      25.6      12.2   2.3      sun
382    1/17/2013            0.0       3.9      -2.8   1.0  drizzle
1254    6/8/2015            0.0      30.6      14.4   3.5      sun
1145   2/19/2015            4.6      10.6       8.3   2.2     rain
872    5/22/2014            0.0      24.4      11.7   2.5      sun
701    12/2/2013            4.6       7.8       1.7   3.5     rain
1082  12/18/2014           13.0       9.4       6.7   3.1     rain
403     2/7/2013            1.3       9.4       3.3   4.1     rain
1040   11/6/2014            4.1      16.7      10.6   6.7     rain
918     7/7/2014            0.0      27.2      17.8   4.1      fog

In [12]:
df6=pd.DataFrame({'ID':[5,6,7,8],
 'Name':['D','E','F','G']
 ,
 'Class':['W','X','Y','Z']})

In [13]:
df5=pd.DataFrame({'ID':[1,2,3,4],
 'Name':['A','B','C','D']
 ,
 'Class':['w','x','y','z']})

In [14]:
pd.concat([df6,df5])

   ID Name Class
0   5    D     W
1   6    E     X
2   7    F     Y
3   8    G     Z
0   1    A     w
1   2    B     x
2   3    C     y
3   4    D     z

In [15]:
df5.append(df6)

AttributeError: 'DataFrame' object has no attribute 'append'

In [16]:
df= pd.read_csv('/content/seattle-weather.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/seattle-weather.csv'

In [17]:
df.head(10)

        date  precipitation  temp_max  temp_min  wind  weather
0   1/1/2012            0.0      12.8       5.0   4.7  drizzle
1   1/2/2012           10.9      10.6       2.8   4.5     rain
2   1/3/2012            0.8      11.7       7.2   2.3     rain
3   1/4/2012           20.3      12.2       5.6   4.7     rain
4   1/5/2012            1.3       8.9       2.8   6.1     rain
5   1/6/2012            2.5       4.4       2.2   2.2     rain
6   1/7/2012            0.0       7.2       2.8   2.3     rain
7   1/8/2012            0.0      10.0       2.8   2.0      sun
8   1/9/2012            4.3       9.4       5.0   3.4     rain
9  1/10/2012            1.0       6.1       0.6   3.4     rain

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')